<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>
      Tipo Pessoa
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
<div class="row">
  <div class="group-row">
    <div class="select-padrao">
      <ng-select [items]="tipoPessoasEnum" [ngModelOptions]="{standalone: true}"
        bindLabel="nameTipoPessoa" bindValue="idTipoPessoa" placeholder="Selecione Tipo Pessoa" [(ngModel)]="tipoPessoaData.selectTipoPessoa">
      </ng-select>
    </div>
  </div>
</div>
</mat-expansion-panel>
