<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Empresas
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="group-row">
      <div class="select-padrao">
        <ng-select class="select-padrao" [items]="listaEmpresas" [ngModelOptions]="{standalone: true}" bindLabel="name"
          bindValue="id" placeholder="Selecione Empresa" [(ngModel)]="empresaData.selectEmpresa" [compareWith]="compararEmpresas">
        </ng-select>
      </div>
    </div>
  </div>

</mat-expansion-panel>


<!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contatos
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel> -->
