<!-- <ng-select class="select-padrao" [items]="listaEmpresas" [ngModelOptions]="{standalone: true}"
          bindLabel="name" bindValue="id" placeholder="Selecione Empresa"
          [(ngModel)]="selectEmpresa" [compareWith]="compararEmpresas">aaa
</ng-select> -->


<div class="row">
  <div class="group-row">
    <div class="select-padrao">
      <ng-select class="select-padrao" [items]="listaEmpresas" [ngModelOptions]="{standalone: true}"
        bindLabel="name" bindValue="id" placeholder="Selecione Empresa"
        [(ngModel)]="selectEmpresa" [compareWith]="compararEmpresas">
      </ng-select>
    </div>
  </div>
</div>
