 <div class="row">
    <div class="group-row">
      <label>Tipo Contato:</label>
      <div class="select-padrao">
        <ng-select class="select-padrao" [items]="tipoContatoEnum" [ngModelOptions]="{standalone: true}"
          bindLabel="nameTipoContato" bindValue="idTipoContato" placeholder="Selecione Tipo Contato"
          [(ngModel)]="contatoData.tipoContato">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>Código:</label>
      <input type="text" id="idContato" name="idContato" placeholder="Cód. Contato" [(ngModel)]="contatoData.idContato" readonly />
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>Nome:</label>
      <input type="text" id="contatoNome" name="contatoNome" placeholder="Nome do Contato" [(ngModel)]="contatoData.contatoNome" />
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>Telefone:</label>
      <input type="text" id="contatoTelefone" name="contatoTelefone" placeholder="Telefone do Contato" [(ngModel)]="contatoData.contatoTelefone">
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>E-mail:</label>
      <input type="text" id="contatoEmail" name="contatoEmail" placeholder="Email do Contato" [(ngModel)]="contatoData.contatoEmail"/>
    </div>
  </div>


