<div class="row">
  <div class="group-row">
    <label>Código:</label>
    <input type="text" id="idEnderecoPessoa" name="idEnderecoPessoa" placeholder="Código" [value]="idEnderecoPessoa" [(ngModel)]="enderecoData.idEnderecoPessoa" readonly/>
  </div>
</div>
  <div class="row">
    <div class="group-row">
      <label>Tipo Endereço:</label>
      <div class="select-padrao">
        <ng-select class="select-padrao" [items]="tipoEnderecoEnum" [ngModelOptions]="{standalone: true}"
          bindLabel="nameTipoEndereco" bindValue="idTipoEndereco" placeholder="Selecione Tipo Endereço"
          [(ngModel)]="enderecoData.tipoEndereco">
        </ng-select>
        <!-- <ng-select class="select-padrao" [items]="tipoEnderecoEnum" [ngModelOptions]="{standalone: true}"
          bindLabel="nameTipoEndereco" bindValue="idTipoEndereco" placeholder="Selecione Tipo Endereço"
          formControlName="tipoEndereco">
        </ng-select> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>Logradouro:</label>
      <input type="text" id="logradouro" name="logradouro" placeholder="Logradouro, nº" [value]="logradouro" [(ngModel)]="enderecoData.logradouro" />
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>Numero:</label>
      <input type="text" id="numero" name="numero" placeholder="Numero" [value]="logradouro" [(ngModel)]="enderecoData.numero" />
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>Bairro:</label>
      <input type="text" id="bairro" name="bairro" placeholder="Bairro" [value]="bairro" [(ngModel)]="enderecoData.bairro" />
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>CEP:</label>
      <input type="text" id="cep" name="cep" placeholder="CEP" [value]="cep" [(ngModel)]="enderecoData.cep" />
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>Cidade:</label>
      <input type="text" id="cidade" name="cidade" placeholder="Cidade" [value]="cidade" [(ngModel)]="enderecoData.cidade" />
    </div>
  </div>
  <div class="row">
    <div class="group-row">
      <label>Estado:</label>
      <input type="text" id="estado" name="estado" placeholder="Estado" [value]="estado" [(ngModel)]="enderecoData.estado" />
    </div>
  </div>
